{{!-- this displays the individually requested photo id --}}


<section class="photo">

  <div class="photo-details">
    
    <br>
    <p> this is the partial being loaded when the route is /Photo/:id</p>

    <h1>{{Photo1.title}}</h1>
    <img src="/images/{{Photo1.filename}}" alt="{{Photo1.title}}">
    <p>{{Photo1.caption}}</p>
    <a href="/">Back to Home</a>
  </div>
</section>