<div class="row justify-space-between-md">
  <div class="update-card">
    <h2 class="page-title">Update My Information</h2>
   
  
    <form class="form update-form">
      <div class="form-group">
         <p>My name is: {{usersData.username}}</p>
   <p>My current bio is: {{usersData.bio}}</p>
      </div>
      <div class="form-group">
        <label for="bioUpdate">New Bio:</label>
        <input class="form-input" type="text" id="bioUpdate" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary update-btn" type="submit">update</button>
      </div>
    </form>
  </div>
  
    </form>
  </div>
</div>

<script src="./js/update.js"></script>