:root {
  --secondary: #f38e8c;
  --tertiary: #c46052;
  --primary: #bb4e51;
  --quatrinary: #409c9b;
  --light: #e3e4e3;
  --dark: #05504b;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap;
  flex-grow: 1; */
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.album {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
} 

.like-button  {
  background: var(--dark);
  border: none;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;

}

img {
  max-width: 100%;
  height: auto;
}

.photo {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.photo-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 43%;
  padding: 5px;
  margin: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.update-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  
  /* max-width: 50%; */
  padding: 20px;
  border: 8px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.album-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
/* CAROUSEL IMAGE HEIGHT SETTING */
.carousel-inner {
  height: 500px; /* Set a fixed height for the entire carousel */
}

.carousel-item {
  height: 100%; /* Ensure the carousel item takes the full height of the carousel */
}

.carousel-image {
  height: 100%; /* Ensure the image takes up the full height of the carousel-item */
  width: 100%; /* Ensure the image takes up the full width of the carousel-item */
  object-fit: cover; /* Ensure the image covers the container without distortion */
}

/* OVERRIDE FLOAT */
.carousel-item {
  float: none !important;
}

/* public/css/style.css */
.swiper-container {
  width: 50vw;
  height: 100vh;
}



/* Set a fixed height and width for the swiper-slide and ensure images fit within this area */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any overflow from larger images */
  /* height: 500px; */
}

.swiper-slide img  {
  width: 100%;
  height: auto; /* Ensure images maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  max-height: 600px;
}


.swiper-caption {
  width: 100%; 
  height: auto;
  color: white;
  font-size: large;
  
  padding: 2px;
  border-radius: 5px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}
